<%# below is a helper (found in application_helper) to check if the voter is allowed on this vote. %>
<%# <% if voter_allowed_on_vote?  %> %>
  <% if @poll.status == "ONGOING" && @voter.has_voted != true %>
    <%= form_tag("/polls/#{@poll.id}/vote/#{@token}", method: :post) do %>
      <% @questions.each do |question| %>
        <h3><%= question.title %></h3>
        <h3><%= question.content %></h3>
        <h3><%= question.id %></h3>
        <% question.answers.each do |a| %>
          <%= label_tag a.content %>
          <%= hidden_field_tag 'voter_id', @voter.id %>
          <h3><%= a.id %></h3>
          <%= radio_button_tag "answers[#{question.id}]", a.id %>
        <% end %>
      <% end %>
      <%= submit_tag 'Send your vote' %>
    <% end %>
  <% end %>
  <%# <% else %>
    <%# <% invalid_voter %>
  <%# <% end %>
<%# <% else %>
  <%# <% invalid_voter %>
<%# <% end %>
