<%# below is a helper (found in application_helper) to check if the voter is allowed on this vote. %>
<%# <% if voter_allowed_on_vote?  %>
  <% if @poll.status == "ONGOING" && @voter.has_voted != true %>
    <%= form_tag("/polls/#{@poll.id}/vote/#{@token}", method: :post) do %>
      <% @questions.each do |question| %>
        <div class="votecard">
          <div class="title">
            <h3><%= question.title %></h3>
          </div>
          <div class="votecard-answers">
            <% question.answers.each do |a| %>
            <div class="votecard-answer">
              <%= radio_button_tag "answers[#{question.id}]", a.id  %>
              <div class="votecard-label">
                <%= a.content %>
              </div>
            </div>
            <%= hidden_field_tag 'voter_id', @voter.id %>
          <% end %>
          </div>
        </div>
          <% end %>
        <div class="votecard-button-validate">
          <%= submit_tag 'Send your vote', class: "votecard-validate" %>
        </div>
        <% end %>



    <% else %>
      <%= render "shared/votecompleted" %>
  <% end %>
  <%# <% else %>
    <%# <% invalid_voter %>
  <%# <% end %>
<%# <% else %>
  <%# <% invalid_voter %>
<%# <% end %>
