<div style="margin-bottom:60px">
  <%= simple_form_for @contact do |f| %>
    <div style="color:white"><%= f.input :last_name, label: 'Last Name' %></div>
    <div style="color:white"><%= f.input :first_name, label: 'First name' %></div>
    <div style="color:white"><%= f.input :email %></div>
    <%= hidden_field_tag(:user_id, current_user.id) %>
    <%= f.button :submit, class: "btn", style: "color:white" %>
  <% end %>
</div>


<div style="margin-bottom:60px">
  <%= simple_form_for @contact_list do |f| %>
    <div style="color:white"><%= f.input :name, label: 'Name' %></div>
    <div style="color:white"><%= f.input :contact, label: 'Contact' %></div>
    <%= hidden_field_tag(:user_id, current_user.id) %>
    <%= f.button :submit, class: "btn", style: "color:white" %>
  <% end %>
</div>
