<%# I need to have 2 separate fields ; 1 for question params, another one for answers (linked to the said question) %>
  <div style="margin-bottom:60px" class="questioncard">
    <%= simple_form_for @question do |f| %>

      <div style="color:white; padding:15px;width:330px"><%= f.input :title, label: 'Your question title please:', error: 'This question title is not valid'%></div>
      <div style="color:white; padding:15px"><%= f.input :answers, input_html: { value: "", name: "answers[]"} %></div>
      <div style="color:white; padding:15px"><%= f.input :answers, input_html: { value: "", name: "answers[]"} %></div>
      <div style="color:white; padding:15px"><%= f.input :answers, input_html: { value: "", name: "answers[]"} %></div>
      <%= hidden_field_tag(:poll_id, @poll.id) %>
      <%= f.button :submit, class: "btn", style: "margin-left:20px"%>

    <% end %>
  </div>


  <div class="footer main-card">
    <div class="footer-btn">
    </div>


    <%= link_to questions_done_path(@poll), method: :patch do %>
      <div class="footer-btn"><i class="far fa-check-circle w-16 fa-2x" id='check-icon'></i></div>
    <% end %>
    </div>
  </div>





<%# I need fields to have 2 answers set when the questions are "created" and they would need to be attached to this Q? instance
which means that the way I see it, a new question in instantly created (with an ID in DB) %>
<%# fields would be "simple" HTML, as I'm  not quite sure yet how to do so with sff %>
