
<%# poll starts with status PENDING and should display a new question form + existing questions %>
<% if @poll.status == "PENDING" %>
  <div class="d-flex flex-column align-items-center">
    <div>
      <%= render partial: "shared/existingquestion", collection: @pollquestions %>
    </div>
    <div class="container-new-questions">
      <%= render partial: "shared/newquestion", locals: {question: @question} %>
    </div>
  </div>
<% elsif @poll.status == "QUESTIONS_DONE"  %>
  <div class="page-title"> Who do you want to send this poll to ? </div>
  <%# above text to remove, ofc %>
  <div class="container-new-questions d-flex flex-column align-items-center">
    <%= render partial: "shared/newvoters", locals: {voters: @voters} %>
  </div>

<% elsif @poll.status == "SENT" %>
  <%= render partial: "shared/votestatus_test", locals: {opinions: @opinions} %>
<% elsif @poll.status == "ONGOING" %>

  <%= render "shared/ongoingvote" %>

<% elsif @poll.status == "OVER" %>
  <%= render partial: "shared/pollquestion", collection: @existingquestions %>
<% end %>
