
  <p><%= @poll.status %></p>
  <% if @poll.status == "pending" %>
    <div class="container-cards">
      <%= render partial: "shared/existingquestion", collection: @existingquestions %>
    </div>
    <div class="container-new-questions">
      <%= render partial: "shared/newquestion", locals: {question: @question} %>

    </div>
  <% elsif @poll.status == "questions_done" %>
    <div style="color:white; font-size: 30px">Now that the poll is complete, you can add your contacts. </div>
    <%# above text to remove, ofc %>
    <%= render partial: "shared/newvoters", locals: {voters: @voters} %>
  <% elsif @poll.status == "ongoing" %>
    <%= render partial: "shared/votestatus_test", locals: {opinions: @opinions} %>
  <% end %>


<%# defines the display depending on poll status. %>
<%# this one is for the poll "pending" %>
<% if @poll.status == "pending" %>
  <div class="container justify-content-center align-items-start">
    <div class="row-4 justify-content-around">
    <%# this is the space where existing questions are displayed %>
    <%= render partial: "shared/existingquestion", collection: @existingquestions %>
    </div>
    <div class="row-6 justify-content-center">
    <%# this is where the form is to be displayed %>
      <div class="col-8">
        <%= render partial: "shared/newquestion", locals: {question: @question} %>
      </div>
    </div>
    <div class="row-2">
      <%# bottom-bar %>
    </div>
  </div>
<% end %>
