  <%# the following line is here for test purposes only, remember to remove it before ultimate push in prod %>
  <div class="row">
    <p style="color:green"><%= @poll.status %></p>
  </div>

  <% if @poll.status == "pending" %>
    <div class="container-cards">
      <%= render partial: "shared/existingquestion", collection: @existingquestions %>
    </div>
    <div class="container-new-questions">
      <%= render partial: "shared/newquestion", locals: {question: @question} %>

    </div>
  <% elsif @poll.status == "questions_done" %>
    <div style="color:white; font-size: 30px">Now that the poll is complete, you can add your contacts. </div>
    <%# above text to remove, ofc %>
    <%= render partial: "shared/newvoters", locals: {voters: @voters} %>
  <% elsif @poll.status == "ongoing" %>
    <%= render partial: "shared/votestatus_test", locals: {opinions: @opinions} %>
  <% end %>
